body {
  transition: 0.3s all !important;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.result {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  color: #fff;
  text-shadow: 0 0 10px;
  text-align: center;
  letter-spacing: 2px;
  font-size: small;
  align-items: center;
  justify-content: center;
}

.won {
  color: rgb(33, 148, 33);
}

.lost {
  color: red;
}

.container {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.person,
.player {
  margin: auto;
  display: flex;
  background: linear-gradient(to right, #52b788, #40916c);
  width: 20rem;
  height: 30rem;
  margin-top: 5rem;
  border-radius: 50px;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px;
}

.profile-info {
  display: flex;
  align-items: center; /* Center elements horizontally */
}

.name {
  margin-left: 2rem;
  color: #1b4332;
  letter-spacing: 2px;
  font-size: 20px;
}

#dice-img,
#dice-img2 {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px;
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgb(0, 0, 0);
}

.trash-talk {
  color: #1b4332;
  text-shadow: 0 0 15px black;
}

.btns-container {
  border-color: transparent;
  outline-color: transparent;

  height: 10rem;
}

.start-btn, .restart-btn {
  z-index: 10;
}

.start-btn {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  width: 10rem;
  height: 2rem;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: 0 0 10px;
  color: #fff;
  border-radius: 15px;
  background-color: #283618;
  cursor: pointer;
  transition: 0.3s all !important;
}

.start-btn:hover {
  transform: scale(1.2);
}

.restart-btn {
  display: block;
  margin: auto;
  margin-top: 5rem;
  position: relative;
  text-align: center;
  width: 10rem;
  height: 2rem;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: 0 0 10px;
  color: #fff;
  border-radius: 15px;
  background-color: #606c38;
  cursor: pointer;
  transition: 0.3s all !important;
}

.restart-btn:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 784px) {
  .container {
    flex-direction: column;
  }

  .result {
    text-shadow: 0 0 5px black;
  }
}

@media screen and (max-width: 360px) {
  .person,
  .player {
    width: 15rem;
  }

  .result {
    text-shadow: 0 0 5px black;
  }
}
