@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
  background: linear-gradient(to right, #3a5a40 50%, #344e41 50%) fixed;
  font-family: 'Poppins', sans-serif;
  transition: .3s all !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #588157;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #04aa6d;
}

.active {
  background-color: #04aa6d;
}
